// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-asana {
    padding: 15px 0 15px 20px;

    .task{
        font-size: 1.2em;
    }
}
.flex-container {
    display: -webkit-flex;
    display: flex;
}
.task-container{
    overflow: scroll;
}
